node_modules/
target/
dist/
.angular/
*.jar
__pycache__/
.venv/
*.pyc
uploads/
testImages/
.idea/
.vscode/
.DS_Store
.env
**/src/main/resources/application.properties
**/src/main/resources/application-dev.properties
**/src/main/resources/application-prod.properties